* {
    margin: 0px;
    font-family: 'Noto Sans';
}
main {
    display: flex;
    width: 100%;
    height: 100vh;
}
.izquierda {
    width: 50%;
    background-image: url("../img/img_principal_login.svg");
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    z-index: -1;
}
.izquierda > div:first-child {
    margin-right: 25%;
}

.izquierda > div > div {
    background-color: white;
    padding: 25px 50px;
    border-radius: 50px;
    margin-top: 15%;
    display: flex;
    justify-content: center;
}
.izquierda img {
    width: 282px;
}

.derecha{ 
    background-color: white;
    width: 60%;
    height: 100vh;
    z-index: 2;
    position: absolute;
    right: 0px;
    border-radius: 6% 0px 0px 6%;
}

header {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 5%;
}
header > button {
    font-size: 16px;
    font-weight: 400;
    background-color: #F7CE46;
    border-radius: 48px;
    color: black;
    border: none;
    padding: 12px 24px;
    margin-right: 5%;
}

form {
    width: 65%;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
}
h1 {
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 16px;
}
.subtitulo {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
    text-align: center;
}

.form-control {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 32px;
}
.form-control > label {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    width: 40%;
}
.form-control > div {
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.form-control input {
    width: -webkit-fill-available;
    font-size: 20px;
    font-weight: 400;
    border-radius: 12px;
    outline: none;
    border: 1px solid #DDDFE5;
    padding: 4px 8px;
}
.generos > .genero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.genero > div {
    background-color: #F6F8FD;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.genero-activo > div {
    background-color: #F4F8FF;
}
.genero-activo > span {
    color: #3478EB;
}
.btn-principal {
    width: 100%;
    text-align: center;
    padding: 16px;
    font-size: 20px;
    font-weight: 400;
    color: black;
    border: none;
    border-radius: 60px;
    background: linear-gradient( 130deg , #F7CE46 60%, #FBE27E );
    cursor: pointer;
    margin-bottom: 24px;
}
.terminosycondiciones {
    font-size: 16px;
    font-weight: 400;
    color: #8C8E97;
    text-align: center;
    margin-bottom: 24px;
}
.terminosycondiciones > a { 
    color: #3478EB;
    cursor: pointer;
}
.linea {
    width: 100%;
    text-align: center;
    font-size: 20px;
    position: relative;
    z-index: 1;
    margin-bottom: 24px;
}
.linea::before {
    border-top: 1px solid #DDDFE5;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    z-index: -1;
    bottom: 0;
    left: 0;
    right: 0;
}
.linea span {
    background-color: white;
    padding: 0 16px;
}
.btns-redes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-bottom: 40px;
}
.redes{
    border: none;
    border-radius: 30px;
    background-color: #F9F9FC;
    cursor: pointer;
    padding: 12px 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.login {
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: black;
}
.login > a {
    color: #3478EB;
    cursor: pointer;
    margin-left: 20px;
}

.stepper {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0px;
    margin-bottom: 40px;
    width: calc(100% - 24px);
    position: relative;
    left: 12px;
}
.stepper-item {
    display: flex;
    text-align: center;
    position: relative;
    align-items: center;
}
.stepper-item:not(:last-child){
    flex: 1;
}
.stepper-item>span:before {
    position: absolute;
    z-index: -1;
    content: "";
    width: 32px;
    height: 32px;
    background-color: #EDEEF3;
    border-radius: 100%;
}
.stepper-item>span{
    position: relative;
    font-size: 16px;
    font-weight: 400;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stepper-item:not(:last-child)::after {
    content: "";
    height: 1px;
    background-color: #DDDFE5;
    position: absolute;
    right: 0px;
    top: 10px;
    bottom: 0px;
    width: calc(100% - 40px); /* 100% - ancho del circulo - espacio horizonntal = 100% - 32 - 8 */
    left: 24px; /* mitad ancho circulo + espacio = 16 + 8 */
}
.stepper-item.terminado > span:before {
    background-color: #3478EB;
}
.stepper-item.activo > span:before {
    background-color: #99BFFF;
}